/* comentario en scss y css */
.photo-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  margin: 10px;
}

.photo-container img {
  width: 100%;
  height: auto;
  border: 1px solid black;
  object-fit: cover;
}

.photo {
  display: flex;
}

.pre-bt-title {
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
}

.cards-section {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  gap: 5px;
  text-align: center;
}

.card-bs {
  width: 100%;
  height: auto;
}

.card-img-top {
  width: 100%;
  height: auto;
  border: 1px solid;
}

.btn-primary {
  margin-bottom: 10px;
  background-color: whitesmoke;
  color: #5E1914;
  border-color: #C8C7C1;
}

.btn-primary:hover {
  background-color: #5E1914;
  border-color: black;
}

/* mq desktop */
@media screen and (min-width: 1024px) {
  main {
    padding-left: 100px;
    padding-right: 100px;
  }
  .photo-container {
    grid-template-columns: repeat(3, 1fr);
    margin-left: 200px;
    margin-right: 200px;
  }
  .location {
    text-align: center;
    margin-top: 20px;
  }
  .cards-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 200px;
    margin-right: 200px;
  }
  .card-bs {
    width: 12rem;
    height: auto;
  }
}
@media screen and (min-width: 768px) {
  main {
    padding-left: 100px;
    padding-right: 100px;
  }
  .photo-container {
    grid-template-columns: repeat(3, 1fr);
    margin-left: 200px;
    margin-right: 200px;
  }
  .location {
    text-align: center;
    margin-top: 20px;
  }
  .cards-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 200px;
    margin-right: 200px;
  }
  .card-bs {
    width: 12rem;
    height: auto;
  }
}
/* estilos de header */
header {
  font-family: "Roboto", sans-serif;
  background-color: whitesmoke;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
header img {
  width: 60px;
  height: auto;
}
header .nav-bar {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: whitesmoke;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-end;
}
header nav ul {
  list-style-type: none;
  display: flex;
  gap: 10px;
  margin-left: 20px;
  text-align: center;
}
header nav ul li a {
  color: black;
  list-style: none;
  text-decoration: none;
}

/* estilos de main */
main {
  margin: 10px;
  min-height: 80vh;
  align-content: start;
  row-gap: 10px;
  background-color: #C8C7C1;
}
main h1 {
  color: whitesmoke;
  font-family: "Roboto", sans-serif;
  background-color: #5E1914;
  padding: 40px;
  margin: 10px;
  text-align: center;
  font-size: 2rem;
}
main .text-subtitle {
  margin-right: 10px;
  margin-left: 10px;
  text-align: justify;
}
main h2, main h3 {
  margin-right: 10px;
  margin-left: 10px;
  text-align: justify;
}
main .location iframe {
  width: 100%;
  height: auto;
  max-width: 600px;
}

footer {
  font-size: smaller;
  font-style: italic;
  text-align: center;
  clear: both;
  padding: 10px;
}

/*# sourceMappingURL=style.css.map */
