// comentario en scss

/* comentario en scss y css */

// nesting

// import 

@import "utilidades/products";
@import "utilidades/bs";
@import "utilidades/mediaqr";
@import "utilidades/variables";
@import "utilidades/mixin";

/* estilos de header */

header{
    font-family: "Roboto", sans-serif;
    background-color: $color-nav-titles;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    padding: 10px;

    img {
        @include medidas-base (60px, auto);
            }
    .nav-bar{
        position: sticky;
        top: 0;
        z-index: 10;
        background-color: $color-nav-titles;
        @include medidas-base (100%, auto);
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: flex-end;
    }
    nav {
        ul {
            list-style-type: none;
            display:flex;
            gap: 10px;
            margin-left: 20px;
            text-align: center;
            li {
                a {
                    color: black;
                    list-style: none;
                    text-decoration: none;
                }
            }
        }
    }
        }

/* estilos de main */

main {
    margin: 10px;
    min-height: 80vh;
    align-content:start;
    row-gap: 10px;
    background-color: $color-principal-background;
    h1 {
        color: $color-nav-titles;
        font-family: "Roboto", sans-serif;
        background-color: $color-secundario-background;
        padding: 40px;
        margin: 10px;
        text-align:center;
        font-size: 2rem;    
    }

    .text-subtitle { 
        margin-right: 10px;
        margin-left: 10px;
        text-align: justify;
    }

    h2, h3 {
        margin-right: 10px;
        margin-left: 10px;
        text-align: justify;
    }

    .location iframe {
        @include medidas-base (100%, auto);
        max-width: 600px;
    }
}

footer {
    font-size: smaller;
    font-style: italic;
    text-align: center;
    clear: both;
    padding: 10px;
}