
@import "./mixin";
@import "./variables";
 
// estilos para bs

.pre-bt-title {
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
}

.cards-section {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 5px;
    text-align: center;
}

.card-bs {
    @include medidas-base (100%, auto);

}

.card-img-top {
    @include medidas-base (100%, auto);
    border: 1px solid;
}

.btn-primary {
    margin-bottom: 10px;
    background-color: $color-nav-titles;
    color: $color-secundario-background;
    border-color: $color-principal-background;
}

.btn-primary:hover {
    background-color: $color-secundario-background;
    border-color: black;
}