// estilos de productos

@import "./mixin";

.photo-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin: 10px;
}

.photo-container img {
    @include medidas-base (100%, auto);
    border: 1px solid black;
    object-fit: cover;
}
.photo {
    display: flex;
}


